@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(90deg, #e2e2e2, #c9d6ff);
}

.container {
  position: relative;
  width: 850px;
  height: 550px;
  background-color: #fff;
  margin: 20px;
  border-radius: 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.container h1 {
  font-size: 36px;
  margin: -10px 0;
}

.container p {
  font-size: 14px;
  margin: 16px 0;
}

form {
  width: 100%;
}

.form__box {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  padding: 40px;
  background-color: #fff;
  color: #333;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transition:
    0.6s ease-in-out 1.6s,
    visibility 0s 1s;
}

.container.active .form__box {
    right: 50%;
}

.form__box.register {
    visibility: hidden;
}

.container.active .form__box.register {
    visibility: visible;
}

.input__box {
    position: relative;
    margin: 32px 0;
}

.input__box input {
    width: 100%;
    font-size: 16px;
    color: #333;
    font-weight: 500;
    padding: 12px 48px 12px 24px;
    background: #eee;
    border-radius: 8px;
    border: none;
    outline: none;
}

.input__box input::placeholder {
    color: #888;
    font-weight: 400;
}

.input__box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.forgot__link {
    margin: -15px 0 15px;
}

.forgot__link a {
    font-size: 14px;
    color: #333;
}

.btn {
    width: 100%;
    height: 48px;
    background-color: #7494ec;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

.social__icons {
    display: flex;
    justify-content: center;
}

.social__icons a {
    display: inline-flex;
    padding: 10px;
    border: 2px solid #ccc;
    font-size: 24px;
    color: #333;
    margin: 0 8px;

}

.toggle__box {
    position: absolute;
    width: 100%;
    height: 100%;
}

.toggle__box::before {
    content: '';
    position: absolute;
    left: -250%;
    width: 300%;
    height: 100%;
    background-color: #7494ec;
    border-radius: 150px;
    z-index: 2;
    transition: 1.8s ease-in-out;

}

.container.active .toggle__box::before {
    left: 50%;
}

.toggle__panel {
    z-index: 2;
    position: absolute;
    width: 50%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.6s ease-in-out;
}

.toggle__panel.toggle__left {
    left: 0;
    transition-delay: 1.2s;
}

.container.active .toggle__panel.toggle__left {
    left: -50%;
    transition-delay: 0.6s;
}

.toggle__panel.toggle__right {
    right: -50%;
    transition-delay: 0.6s;
}

.container.active .toggle__panel.toggle__right {
    right: 0;
    transition-delay: 1.2s;
}

.toggle__panel p {
    margin-bottom: 20px;
}

.toggle__panel .btn {
    width: 160px;
    height: 48px;
    background: transparent;
    border: 2px solid #fff;
    box-shadow: none;

}
